Source: pam-dbus
Section: admin
Priority: optional
Maintainer: Joachim Breitner <mail@joachim-breitner.de>
Build-Depends: debhelper (>> 7), libpam0g-dev (>= 0.72), autotools-dev, libdbus-glib-1-dev
Standards-Version: 3.7.3

Package: libpam-dbus
Architecture: any
Depends: ${shlibs:Depends}
Description: A PAM module which asks the logged in user for confirmation
 TODO

Package: pam-dbus-notify
Architecture: all
Depends: python, python-notify, python-dbus, python-gtk2
Description: Handler for the pam-dbus module, using notification-daemon
 TODO
